body{
    background-color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 15rem;
   
}

.first_image{
  position:relative;
}

h2,h3,p{
  padding-left: 15px;
    padding-right: 15px;
}

.container1{
  height: 300px;
  width: auto;
  position: relative;
  float: right;
}
.beliefs{
  display: flex;
  text-align: center;
}
.beliefs > div{
  background-color: rgb(210, 62, 62);
  color: white;
  width: 300px;
  margin: 10px;
  line-height: 25px;
  padding-right: 20px;
  padding-left: 20px;
}
.about{
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-right: 10px;
  padding-left: 10px;
}
h1{
  text-align: center;
  font-weight: 300;
}
img{
    max-width: 100%;
    height: auto;
  }
  #second_img{
  height:280px;
  width: auto;
  padding-right: 10px;
  padding-left: 10px;
  float: right;
  }
 
hr{
    border-color: red;
}
 @media screen and (max-width: 600px) {
    .navbar navbar-inverse,container-fluid, navbar-header {
      float: none;
      width: 100%;
    }
  }
#team{ background-color: black;
  color: white;

}
 .jobs{ 
color:black;}
 .container{ float:right;
position: relative;}
  .text{
    background-color:white;
    color: black;
    height: 200px;
  }

  .footer{
    text-align: center;
    background-color: rgb(87, 85, 85);
    color: white;
  }