body{
    background-color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.first_image{
  position: relative;
  text-align: center;
  color: white;
}


h2,h3,p{
  padding-left: 20px;
    padding-right: 20px;
}
#vision,.about{
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
  text-align: center;
}
img{
    max-width: 100%;
    height: auto;
  }
 
hr{
    border-color: red;
}
 @media screen and (max-width: 600px) {
    .navbar navbar-inverse,container-fluid, navbar-header {
      float: none;
      width: 100%;
    }
  }

 
  .container {
    position: relative;
  }
  
 
  .text-block {
    position: relative;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer{
    text-align: center;
    background-color: rgb(33, 32, 32);
    color: white;
  }